# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/dev/wp-admin/
/dev/wp-content/index.php
/dev/wp-content/languages
/dev/wp-content/plugins/index.php
/dev/wp-content/themes/index.php
/dev/wp-includes/
/dev/index.php
/dev/license.txt
/dev/readme.html
/dev/wp-*.php
/dev/xmlrpc.php

# Configuration
# wp-config.php

# Example themes
/dev/wp-content/themes/twenty*/

# Example plugin
/dev/wp-content/plugins/hello.php

# Uploads
/dev/wp-content/uploads/

# Log files
*.log

# htaccess
/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes

.env